<!DOCTYPE html>


<html>

<head>
    <link rel="shortcut icon" href="~/images/logo-big.ico" />
    <meta charset="utf-8" />
    <title>注册·一起帮</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    
    <style type="text/css">
        a {
            text-decoration: none
        }

        * {
            margin-top: 0;
        }
        .flag {
            z-index: 100;
            position: fixed;
            background-color: rgba(128,255,212,0.7);
            padding: 5px 7px;
            border-bottom-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .text-center {
            text-align: center;
        }
        .widget {
            border: 1px dashed #eee;
            padding: 15px;
            margin-bottom: 30px;
            word-break: break-all;
            background-color: #fff;
        }

        .form {
            display: block;
            padding: 6px 12px;
            font-size: 14px;
            color: #555;
            border: 1px solid #ccc;
            border-radius: 4px;
        }


        .padding-top {
            padding-top: 10px;
        }

        badge-property {
            font-size: 14px;
            color: white;
            background-color: dimgray;
        }

        .color-blue {
            color: blue;
        }

        .contain {
            width: 1130px;
        }

        .divider-line {
            border-bottom: 1px dashed;
            clear: both;
            padding: 10px;
            color: #ccc;
        }

        .badge {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: #777;
            border-radius: 10px;
        }

        .text-text {
            margin: 5px 20px 5px 0;
        }

        header {
            width: 100%;
            position: fixed;
            top: 0;
            background-color: aliceblue;
        }

        #logo {
            float: left;
            margin: 20px 50px;
        }

        #notice {
            margin-top: 92px;
            clear: both;
            background-color: lightgrey;
        }

        #input {
            float: left;
            width: 58.33%;
        }

        .left {
            float: left;
        }

        .padding {
            padding-left: 10px
        }

        .right {
            float: right;
        }

        .length {
            margin-bottom: 10px;
        }

        contain {
            width: 1130px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            top: 10px;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        nav {
            float: right;
            margin: 30px;
        }

            nav > ul > li {
                display: inline;
                padding: 0 10px;
            }

            nav li {
                list-style: none;
            }

        footer {
            clear: both;
        }

        ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                }

                    ul.pagination li a.active {
                        background-color: #4CAF50;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: #ddd;
                    }
    </style>
</head>
<body>
    <header>

        <div id="logo">
            <img src="~/images/logo-big.ico" style="float:left;margin-top:8px;">

            <span style="float:left;margin-left:10px;margin-top:20px">
                <span style="font-size:20px;font-weight:bolder;">一起帮</span><span>·网络互助平台</span>
            </span>
        </div>
        <nav>
            <ul style="cursor:pointer;margin-right:20px;float:right;margin-top:20px">
                <li class="dropdown">
                    <span>求助 </span>
                    <ul class="dropdown-content">
                        <li><a href="http://17bang.ren/Log/On?prepage=%2fProblem%2fNew&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7"> 发布</a></li>
                        <li><a href="http://17bang.ren/Problem?excludeCanceled=true&excludeRewarded=true">列表</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span>督促 </span>
                    <ul class="dropdown-content">
                        <li><a href="http://17bang.ren/Log/On?prepage=%2fPlan%2fNew&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7">求督促</a></li>
                        <li><a href="http://17bang.ren/Plan">督促别人</a></li>
                        <li><a href="http://17bang.ren/Plan?my=f&full=False&due=False&expire=False&Frozen=False">我的目标</a></li>
                        <li><a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">我的督促</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span>文章 </span>
                    <ul class="dropdown-content">
                        <li>列表</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span>APP下载 </span>
                    <ul class="dropdown-content">
                        <li><a href="http://17bang.ren/install-Android.apk">Android</a></li>
                        <li><a href="http://17bang.ren/install-iOS.ipa">IOS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span>未登录</span>
                    <ul class="dropdown-content">
                        <li><a href="http://17bang.ren/Log/On?prepage=%2fProblem%3fexcludeCanceled%3dtrue%26excludeRewarded%3dtrue">登录</a></li>
                        <li><a href="http://17bang.ren/Register/Home?prepage=%2fProblem%3fexcludeCanceled%3dtrue%26excludeRewarded%3dtrue">注册</a></li>
                        <li><a href="http://17bang.ren/Password/Forget">忘记密码</a></li>
                    </ul>
                </li>
            </ul>
        </nav>


    </header>
    @RenderBody()
</body>

</html>
<footer class="contain" style="padding-top:20px">
    <div id="links" style="clear:both;height:50px;">

        <ul class="left" style=list-style-type:none>
            <li>
                <a href="http://17bang.ren/About/Us"> 关于我们</a>
                <a href="http://17bang.ren/About/Us"> 常见问题</a>
                <a href="http://17bang.ren/About/Us"> 意见建议</a>
                <a href="http://17bang.ren/About/Us"> 历史通知</a>
                <a href="http://17bang.ren/About/Us"> 友情捐赠</a>
                <a href="http://17bang.ren/About/Us"> 融资2018</a>
            </li>
            <li>
                <a href="http://17bang.ren/About/Us"> 友情链接:</a>
            </li>
        </ul>
    </div>
    <div style="float:right;margin-bottom:20px">
        <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">渝ICP备18007191号（备案）</a><span>© 2019 - 首顾科技</span>
    </div>
</footer>

