@page

    

<div id="notice" style="width:100%;margin-top:120px;padding:0 10px">
    <span> 很抱歉， zsedcftg12 ① 在2019年03月16日 13点50分左右对文章人心的“赞”未能成功完成。如果有必要的话，你可以重新操作。</span>
    <a href="#" class="right">全部消息</a>
</div>
<hr />

<main class="container">
    <div class="row">
        <div class="col-lg-8" id="leftside">
            <div class="padding-top">
                <small>2019年03月16日 11点16分</small>
                <span class="right">作者:叶飞</span>
                <div class="padding-top">
                    <h2 style="font-size:24px">
                        <a href="http://17bang.ren/Article/424" class="color-blue">培训班的同学，拜托不要把用人单位想得那么傻，好不好？！</a>
                    </h2>
                </div>
                <div class="padding-top">
                    今天和网友聊天，再一次的感觉：自古深情留不住，唯有套路得人心傻子太多，骗子不够用说的啥呢？
                    还不是培训班的事。他们一个培训班，108个学生，108个学生啊！！！我都不知道这课怎么上……总之各种匪夷所思之后，
                    我唯一好奇的是：这培训班的招生老师也太强大了，究竟是怎么忽悠的？说了一堆，归根结底，就是招生老师让学员相信了：
                    他们可以“包装”学生，让学生“混”进公司。原话如此，招生老师就这么直白的告诉学生的。怎么“包装”呢？编工作经验，
                    2年打底3年起步……以前的公司就是这个培训班，做背景调查都不怕培训班老师假装应聘，骗 ……
                </div>
                <div id="links" class="padding-top">
                    <div class="glyphicon glyphicon-tag"><strong>关键字:</strong></div>
                    <span class="badge badge-property">编程</span>
                    <span class="badge badge-property">IT培训</span>
                    <span class="badge badge-property">包就业</span>
                    <span class="badge badge-property">套路</span>
                </div>
                <div class="padding-top right">
                    <span class="glyphicon glyphicon-envelope">
                        <a href="http://17bang.ren/Article/424#comments" style="color:lightblue">评论:0</a>
                    </span>
                    <span class="glyphicon glyphicon-thumbs-up">
                        <a href="http://17bang.ren/Log/On?prepage=%2fArticle%2fAppraise%3fid%3d424%26direction%3d1&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7" style="color:lightgreen">赞:39</a>
                    </span>
                    <span class="glyphicon glyphicon-thumbs-down">
                        <a href="http://17bang.ren/Log/On?prepage=%2fArticle%2fAppraise%3fid%3d424%26direction%3d-1&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7" style="color:lightcoral">踩:0</a>
                    </span>
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="padding-top">
                <small>2019年03月15日 10点53分</small>
                <span class="right">作者:叶飞</span>
                <div class="padding-top">
                    <h2 style="font-size:24px">
                        <a href="http://17bang.ren/Article/424" class="color-blue">人心</a>
                    </h2>
                </div>
                <div class="padding-top">
                    黎叔的病一天天的好了起来，而我的生意却越来越难。很多记忆都已经模糊，留在脑海里的是一个一个的片段，
                    把这些片段按时间顺序串起来也很难。我只能像我之前讲的那样“推断”：比如这个画面我是坐在我自己车里的，
                    说明那时候我已经买了车；那个画面里有俞斌，说明这事是在他入职之后。然而，还是有很多事发生的时间
                    已经推断不出来了。比如，我就不太清楚接下来讲的这些事是在黎叔生病以前，还是黎叔生病以后。只能说很有
                    可能是在黎叔生病以后，因为似乎我没有征求他的意见——他伤的是大脑，很长一段时间都不能太过于用脑，
                    我一点都不敢用我这点鸡毛 ……
                </div>
                <div id="links" class="padding-top">
                    <div class="glyphicon glyphicon-tag"><strong>关键字:</strong></div>
                    <span class="badge badge badge-property">
                        视野
                    </span>
                </div>
                <div class="padding-top right">
                    <span class="glyphicon glyphicon-envelope">
                        <a href="http://17bang.ren/Article/424#comments" style="color:lightblue">评论:0</a>
                    </span>
                    <span class="glyphicon glyphicon-thumbs-up">
                        <a href="http://17bang.ren/Log/On?prepage=%2fArticle%2fAppraise%3fid%3d424%26direction%3d1&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7" style="color:lightgreen">赞:0</a>
                    </span>
                    <span class="glyphicon glyphicon-thumbs-down">
                        <a href="http://17bang.ren/Log/On?prepage=%2fArticle%2fAppraise%3fid%3d424%26direction%3d-1&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7" style="color:lightcoral">踩:0</a>
                    </span>
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="padding-top">
                <small>2019年03月15日 10点52分</small>
                <span style="float:right">作者:叶飞</span>
                <div class="padding-top">
                    <h2 style="font-size:24px">
                        <a href="http://17bang.ren/Article/424" class="color-blue">榜样的力量</a>
                    </h2>
                </div>
                <div class="padding-top">
                    我在写《折腾》的时候，就不断的有读者问我：“是不是真的？是小说还是真事？”我真的好难回答，
                    更关键的是，我觉得太没有意义。真的又如何，假的又如何？我说真的你就信以为真，别人说假的你就嗤之以鼻？
                    小说？以我有限的阅历，我可以告诉你，生活比小说更精彩。当然，这些都不是问题。问题是你愿不愿意相信？
                    相信一种赤诚，相信一种倔强，相信一种残酷，相信一种坚持……然后你怎么想，你怎么做？这些你都不相信，
                    或者这些本来就是假的，这些都是骗人的，你怎么想，你怎么做？我记得大概有这么一句歌词：假如生活欺骗了你。
                    是啊，假如生活欺骗了你 ……
                </div>
                <div id="links" class="padding-top">
                    <div class="glyphicon glyphicon-tag"><strong>关键字:</strong></div>
                    <span class="badge badge badge-property">
                        视野
                    </span>
                </div>
                <div class="padding-top right">
                    <span class="glyphicon glyphicon-envelope">
                        <a href="http://17bang.ren/Article/424#comments" style="color:lightblue">评论:0</a>
                    </span>
                    <span class="glyphicon glyphicon-thumbs-up">
                        <a href="http://17bang.ren/Log/On?prepage=%2fArticle%2fAppraise%3fid%3d424%26direction%3d1&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7" style="color:lightgreen">赞:10</a>
                    </span>
                    <span class="glyphicon glyphicon-thumbs-down">
                        <a href="http://17bang.ren/Log/On?prepage=%2fArticle%2fAppraise%3fid%3d424%26direction%3d-1&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7" style="color:lightcoral">踩:0</a>
                    </span>
                </div>

                <div class="divider-line"></div>
            </div>
            <div class="padding-top">
                <ul class="pagination padding-top">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>

        <aside class="col-lg-4 " id="rightside">
            <div class="widget">
                <div class="glyphicon glyphicon-tag">
                    <h3 style="font-size:25px">叶飞的系列文章</h3>
                </div>
                <div style="border-bottom:1px dashed;clear:both;padding-top:10px"></div>
                <div style="margin-top:10px;margin-bottom:10px">
                    <div>
                        <a href="http://17bang.ren/Article/Category-1"><span style="font-size:15px;color:lightblue"><strong>源栈培训</strong></span></a>
                    </div>
                    <span>飞哥的源栈培训：线上全程直播，免费收看；线下拎包入住，按周计费。本系列收录所有讲义（含视频录播地址）</span>
                </div>
                <div style="margin-top:10px;margin-bottom:10px">
                    <div>
                        <a href="http://17bang.ren/Article/Category-1"><span style="font-size:15px;color:lightblue"><strong>编程那些事：菜鸟入门</strong></span></a>
                    </div>
                    <span>大飞哥倾力之作，面向有意入行IT/开发/编程的初学者，欢迎任何形式的留言建议……</span>
                </div>
                <div style="margin-top:10px;margin-bottom:10px">
                    <div>
                        <a href="http://17bang.ren/Article/Category-1"><span style="font-size:15px;color:lightblue"><strong>从包工头到程序猿</strong></span></a>
                    </div>
                    <span>真实故事，讲述我在家装公司关门之后，如何转行成为一个程序猿的故事。（《折腾》第三卷）</span>
                </div>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">直接输入关键字查找(in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="直接输入关键字查找">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary right">换一批</button>
            </form>

            <div class="widget">
                <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.99);margin:5px 10px">
                    编程开发语言
                </span>
                <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.94);margin:5px 10px">
                    JAVA
                </span>
                <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.89);margin:5px 10px">
                    工具软件
                </span>
                <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84);margin:5px 10px">
                    JavaScript
                </span>
                <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.79);margin:5px 10px">
                    顾问咨询
                </span>
                <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.74);margin:5px 10px">
                    操作系统
                </span>
                <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.69);margin:5px 10px">
                    html
                </span>
                <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.64);margin:5px 10px">
                    VisuoStuio
                </span>
                <span class="badge" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59);margin:5px 10px">
                    SQL
                </span>
            </div>

            <div class="widget">
                <ol>
                    <li class="length">
                        线上学习不能自律？试试这个……
                    </li>
                    <li class="length">
                        “一起帮·程序员客栈”筹办思路
                    </li>
                    <li class="length">
                        “源栈”2019课程设置
                    </li>
                    <li class="length">
                        免费广告位，抢到就是赚到！
                    </li>
                    <li class="length">
                        免费广告位，抢到就是赚到！
                    </li>
                    <li>
                        本站主机由西部数码提供
                    </li>
                </ol>

            </div>
        </aside>
    </div>
</main>
