@page
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<div class="notice container">
    <span>欢迎注册一起帮</span>
    <a href="#" class="right">全部消息</a>
</div>

<main class="container">
    <div class="row">
        <h1><span class="glyphicon glyphicon-log-in"></span><span>用户登录</span></h1>
        <div class="divider-line" style="margin-bottom:40px"></div>
        <form class="col-lg-4" id="leftside">

            <div class="form-group">
                <label>用户名：（* 必填）：</label>
                <br>
                <input type="text" name="用户名" class="form-control" placeholder="登录用户名，可修改，不能重复">
            </div>

            <div class="form-group">
                <label>密码：（* 必填）：</label>
                <br>
                <input type="password" name="密码" class="form-control" placeholder="不少于4个字符">
            </div>

            <div class="form-group">
                <label>验证码：（* 必填）:</label>
                <br><input type="text" name="验证码" class="form-controls" maxlength="8">点击输入框显示
            </div>




            <input type="submit" value="提交" style="width:50px;height:30px;border:1px solid #204d74;background-color:#286090;color:#fff;border-radius:5px;" />

            <label class="checkbox-inline">
                <label><input type="checkbox" />记住我</label>
            </label>
            <a class="pull-right" href="http://17bang.ren/Log/On?prepage=%2f">
                <span class="glyphicon glyphicon-log-in"></span><span>登陆</span>
            </a>
        </form>



        <aside class="col-lg-5 length" id="rightside">
            <h2><span class="glyphicon glyphicon-question-sign"></span><span>说明</span></h2>
            <ol>
                <li>
                    我们希望通过<a href=" http://17bang.ren/About/Us">一起帮</a>，能<span class="text-color text-bold">直接解决</span>大家在<span class="text-color">电脑操作/软件使用/编程学习</span>等方面的<span class="text-color text-bold">具体问题</span>。
                </li>
                <li>
                    现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能<span class="text-color">直接远程</span>给予帮助，岂不是好？
                </li>
                <li>
                    当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
                </li>
                <li>
                    公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。
                </li>
                <li>
                    赶快加入我们，赚取帮帮币吧！
                </li>
            </ol>
        </aside>
    </div>
    <div class="help-feedback">
        <a style="bottom:100px;" href="http://17bang.ren/Contact/Us">帮助</a>
        <a style="bottom:55px;" href="http://17bang.ren/Suggest/New">反馈</a>
    </div>
    <div class="divider-line"></div>
</main>

