@page

<div class="container notice">
    <span> 很抱歉， zsedcftg12 ① 在2019年03月16日 13点50分左右对文章人心的“赞”未能成功完成。如果有必要的话，你可以重新操作。</span>
    <a href="#" class="pull-right">全部消息</a>
</div>
<main class="container margin-top">
    <div class="row">
        <div class="col-lg-8" id="leftside">
            <div class="clearfix select" >
                <label class="checkbox-inline">
                    <span class="glyphicon glyphicon-eye-close"></span>不显示
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="已酬谢" />已酬谢
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="已撤销" />已撤销
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="协助中" />协助中
                </label>
                <label class="checkbox-inline">
                    <span class="glyphicon glyphicon-eye-open"></span><span class="text-color">只显示</span>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="我的关注" /><span class="text-color">我的关注</span>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="有总结" /><span class="text-color">有总结</span>
                </label>
            </div>
            <div class="padding-top">
                <small>
                    <span> 2019年03月12日 20点40分</span>
                </small>
                <span class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                    <a href="http://17bang.ren/User/1628">asd7231</a>
                </span>
                <div class="clear">
                    <span class="badge" style="font-size:21px; background-color:#5bc0de">
                        待协助
                    </span>
                    <span style="font-size:150%">
                        <a href="http://17bang.ren/Problem/707" color="black">python爬虫设置代理无效</a>
                    </span>
                </div>
                <div class="padding">
                    <span>如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果……</span>

                </div>
                <div>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫代理设置
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            Python
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            编程开发语言
                        </span>
                    </a>
                </div>
                <div class="padding-top">
                    <span class="glyphicon glyphicon-usd"></span><span>悬赏：20</span>
                    <span class="glyphicon glyphicon-heart"></span><span>应答：0</span>
                    <span class="glyphicon glyphicon-star"></span><span>总结：0</span>
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="padding-top">
                <small>
                    <span> 2019年03月12日 20点40分</span>
                </small>
                <span class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                    <a href="http://17bang.ren/User/1628">asd7231</a>
                </span>
                <div class="clear">
                    <span class="badge" style="font-size:21px; background-color:#5bc0de">
                        待协助
                    </span>
                    <span style="font-size:150%">
                        <a href="http://17bang.ren/Problem/707" color="black">python爬虫设置代理无效</a>
                    </span>
                </div>
                <div class="padding">
                    <span>如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果……</span>

                </div>
                <div>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫代理设置
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            Python
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            编程开发语言
                        </span>
                    </a>
                </div>
                <div class="padding-top">
                    <span class="glyphicon glyphicon-usd"></span><span>悬赏：20</span>
                    <span class="glyphicon glyphicon-heart"></span><span>应答：0</span>
                    <span class="glyphicon glyphicon-star"></span><span>总结：0</span>
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="padding-top">
                <small>
                    <span> 2019年03月12日 20点40分</span>
                </small>
                <span class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                    <a href="http://17bang.ren/User/1628">asd7231</a>
                </span>
                <div class="clear">
                    <span class="badge" style="font-size:21px; background-color:#5bc0de">
                        待协助
                    </span>
                    <span style="font-size:150%">
                        <a href="http://17bang.ren/Problem/707" color="black">python爬虫设置代理无效</a>
                    </span>
                </div>
                <div class="padding">
                    <span>如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果……</span>

                </div>
                <div>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫代理设置
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            Python
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            编程开发语言
                        </span>
                    </a>
                </div>
                <div class="padding-top">
                    <span class="glyphicon glyphicon-usd"></span><span>悬赏：20</span>
                    <span class="glyphicon glyphicon-heart"></span><span>应答：0</span>
                    <span class="glyphicon glyphicon-star"></span><span>总结：0</span>
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="padding-top">
                <small>
                    <span> 2019年03月12日 20点40分</span>
                </small>
                <span class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                    <a href="http://17bang.ren/User/1628">asd7231</a>
                </span>
                <div class="clear">
                    <span class="badge" style="font-size:21px; background-color:#5bc0de">
                        待协助
                    </span>
                    <span style="font-size:150%">
                        <a href="http://17bang.ren/Problem/707" color="black">python爬虫设置代理无效</a>
                    </span>
                </div>
                <div class="padding">
                    <span>如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果……</span>

                </div>
                <div>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫代理设置
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            爬虫
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            Python
                        </span>
                    </a>
                    <a href="http://17bang.ren/Problem?keyword=704" class="second-color">
                        <span class="badge problem-style">
                            编程开发语言
                        </span>
                    </a>
                </div>
                <div class="padding-top">
                    <span class="glyphicon glyphicon-usd"></span><span>悬赏：20</span>
                    <span class="glyphicon glyphicon-heart"></span><span>应答：0</span>
                    <span class="glyphicon glyphicon-star"></span><span>总结：0</span>
                </div>
            </div>
        </div>

        <aside class="col-lg-4" id="leftside">
            <div class="widget">
                <h2 class="glyphicon glyphicon-tags">关键字</h2>
                <hr />
                <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.99);margin:5px 10px">
                    编程开发语言
                </span>
                <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.94);margin:5px 10px">
                    JAVA
                </span>
                <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.89);margin:5px 10px">
                    工具软件
                </span>
                <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84);margin:5px 10px">
                    JavaScript
                </span>
                <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.79);margin:5px 10px">
                    顾问咨询
                </span>
                <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.74);margin:5px 10px">
                    操作系统
                </span>
                <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.69);margin:5px 10px">
                    html
                </span>
                <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.64);margin:5px 10px">
                    VisuoStuio
                </span>
                <span class="badge" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59);margin:5px 10px">
                    SQL
                </span>
                <hr />
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="直接输入关键字查找">
                            <span class="input-group-addon">
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a href="" class="btn btn-default">
                            <span class="glyphicon glyphicon-random"></span><span>换一批</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="widget">
                <h3 class="glyphicon glyphicon-list-alt">精品文章</h3>

                <ol >
                    <li >
                        <a href="http://17bang.ren/Article/424">
                            拜托不要把用人单位想得那么傻，好不好？！
                        </a>
                    </li>
                    <li>
                        <a href="http://17bang.ren/Article/424">
                            人心
                        </a>
                    </li>
                    <li>
                        <a href="http://17bang.ren/Article/424">
                            榜样的力量
                        </a>
                    </li>
                    <li>
                        <a href="http://17bang.ren/Article/424">
                            请个假，立个誓
                        </a>
                    </li>
                </ol>
            </div>
            <div class="widget">
                <ol style="padding-left:20px">
                    <li>
                        线上学习不能自律？试试这个……
                    </li>
                    <li>
                        “一起帮·程序员客栈”筹办思路
                    </li>
                    <li>
                        “源栈”2019课程设置
                    </li>
                    <li>
                        免费广告位，抢到就是赚到！
                    </li>
                    <li>
                        免费广告位，抢到就是赚到！
                    </li>
                    <li>
                        本站主机由<a href="http://www.west.cn/index.asp?ReferenceID=563969">西部数码</a>提供
                    </li>

                </ol>
                <a href="" class="pull-right glyphicon glyphicon-hand-right"><small>广告</small></a>
            </div>
            >
        </aside>
    </div>
    <div class="help-feedback">
        <a style="bottom:100px;" href="http://17bang.ren/Contact/Us">帮助</a>
        <a style="bottom:55px;" href="http://17bang.ren/Suggest/New">反馈</a>
    </div>
    <div class="divider-line"></div>
</main>
